* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    width: 450px;
    border-radius: 1rem;
    border: 0.2rem solid #77bc88;
}

/* SIGNUP */

.form {
    padding: 2rem;
}

.form header {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 1.5rem;
    border-bottom: 0.1rem solid #77bc88;
}

.form form {
    margin: .5rem 0rem;
}

.form form .error-txt {
    color: #c20202;
    background: #ffbdbd;
    padding: .5rem;
    text-align: center;
    border-radius: .5rem;
    margin-bottom: .5rem;
}

.form form .name-details {
    display: flex;
    gap: 1rem;
}

.form form .field {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: .5rem;
}

.form form .field label {
    margin-bottom: .2rem;
}

.form form .field input {
    outline: none;
}

.form form .input input {
    height: 2.5rem;
    width: 100%;
    font-size: 16px;
    padding: 0rem 1rem;
    border: .1rem solid #77bc88;
    border-radius: .5rem;
}

.form form .image input {
    font-size: 15px;
}

.form form .button input {
    margin-top: 1rem;
    height: 2.5rem;
    border: none;
    font-size: 18px;
    font-weight: 600;
    background: #77bc88;
    color: #ffffff;
    border-radius: .5rem;
    cursor: pointer;
}

.form form .field i {
    position: absolute;
    right: 1rem;
    color: #cccccc;
    top: 55%;
    cursor: pointer;
}

.form .link {
    text-align: center;
    margin-top: 1rem;
}

.form .link a {
    color:#77bc88;
}

.form .link a:hover {
    text-decoration: underline;
}

/* USERS */

.users {
    padding: .5rem 2rem;
}

.users header,
.users-list a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: .5rem;
    border-bottom: .1rem solid #77bc88;
}

.wrapper img {
    object-fit: cover;
    border-radius: 50%;
    border: .1rem solid #77bc88;
}

.users header .content,
.users-list a .content {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.users header .content img {
    height: 50px;
    width: 50px;
}

.users header .details span,
.users-list a .content span {
    font-size: 18px;
    font-weight: 600;
}

.users header .logout {
    color:#ffffff;
    background: #c20202;
    padding: .4rem;
    border-radius: .5rem;
}

.users .search {
    margin: 1rem 0rem;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.users .search input {
    position: absolute;
    height: 2rem;
    width: 92%;
    border: .1rem solid #77bc88;
    padding: .2rem;
    font-size: 16px;
    border-radius: .5rem 0 0 .5rem;
    outline: none;
}

.users .search button {
    height: 2rem;
    width: 2rem;
    border: none;
    outline: none;
    color: #ffffff;
    background: #77bc88;
    border-radius: 0 .5rem .5rem 0;
    font-size: 17px;
    cursor: pointer;
}

.users-list {
    max-height: 350px;
    overflow-y: auto;
}

.users-list::-webkit-scrollbar {
    width: 0px;
}

.users-list a {
    margin: 1rem 0rem;
    border-bottom: none;
    padding-right: .5rem;
    page-break-after: 10px;
}

.users-list a .details {
    color: #222222;
}

.users-list a .content img {
    height: 40px;
    width: 40px;
}

.users-list a .content p {
    color:#bababa;
}

.users-list a .status-dot {
    font-size: 12px;
    color: #bababa;
}

.users-list a .status-dot.offline { /* use this class in php */
    color: #cccccc;
}

